<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <!-- <bean id="departmentId" class="com.agsft.Department">
    	<property name="employee.empname" value="Nilesh"></property>
    </bean> -->
    
    <bean id="companyId" class="com.agsft.Company">
    	<property name="department.employee.empname" value="Sunil"></property>
    	<property name="department.deptName" value="Administrative Department"></property>
    </bean>
 
</beans>