<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- Example of singleton bean 
		<bean id="customerServiceId" class="com.agsft.CustomerService"></bean>
	-->
	
	<bean id="customerServiceId" class="com.agsft.CustomerService" scope="prototype"></bean>
	
</beans>
    