<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean id="loginProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:loginprop.properties" />
    </bean>
    
    
    <!-- 
    	Difference between PropertyPlaceholderConfigurer and PropertyOverrideConfigurer
    	
    	1)PropertyPlaceholderConfigurer
    	     a) When we set values in properties file that time there is no need of id and key both to set values in properties file.
    	        
    	     b) At the time of retrieval of values also there is no need of id, we can retrieve values just by key name given in properties file
    	     
    	     
		2)PropertyOverrideConfigurer 
			 a) While using PropertyOverrideConfigurer it is compulsory for us to prefix "id" with "key" in properties file to set the values.
			 
			 b) If you have 3 properties(fields) in your bean and you have set up values for any 2 properties in your properties file then
			    values for only those 2 properties will get replaced and value for the third property will remain same which has been set up
			    in your bean while creation of bean.   	   	
     -->
    
    <bean id="loginId" class="propertyplaceholderdemo.Login">
    	<property name="username" value="${username}"></property>
    	<property name="password" value="${password}"></property>
    </bean>
</beans> 
