<beans xmlns="http://www.springframework.org/schema/beans"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.springframework.org/schema/beans
	  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Definition for Department bean -->
	<bean id="department" class="com.agsft.Department">
		<!-- 
			use of index is preferred in order to maintain type safety 
			index numbers should be in the same sequence of your constructor argument 
		-->
		<constructor-arg index="0" type="java.lang.String" value="Administration"></constructor-arg>
		<constructor-arg index="1" ref="employee"></constructor-arg>	
	</bean>
	
	<!-- Definition for Employee bean -->
	<bean id="employee" class="com.agsft.Employee">
		<constructor-arg name="empName" type="String" value="Rupesh@agsft"></constructor-arg>		
	</bean>
</beans>