<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />


	<!--  
	    2nd way if you dont want to use <context:annotation-config/> then include the class "CommonAnnotationBeanPostProcessor" 
	     
		<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor "/>
	-->
	
	<bean id="calculationId" class="springinitanddestroycallbacks.Calculation">
		<property name="number1" value="5"/>
		<property name="number2" value="4"/>
	</bean>
		
</beans>